* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--light-color);
}
.container {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  width: 40%;
}
img {
  border-radius: 10px;
}

p {
  margin: 10px;
  margin-left: 120px;
}

a {
  text-decoration: none;
  color: #333;
  background-color: rgb(133, 141, 141);
  border-radius: 5px;
  padding: 0.5rem;
}
a:hover {
  background-color: #333;
  color: #fff;
}
